:root {
  --logo-clr-blue: #4d5ae5;
  --main-color: #2e2f42;
  --second-color-site: #434455;
  --logo-clr-light: #f4f4fd;
  --bgrond-hdr: #fff;
  --second-color: #434455;
  --first-hdr-crl: #ffffff;
  --nav-hover: #404bbf;
  --btn-hero: #4d5ae5;
  --shadow-btn-hero: rgba(0, 0, 0, 0.15);
  --header-border: #e7e9fc;
  --btn-hero-text: #fff;
  --btn-hero-hover: #404bbf;
  --backgrnd-site: #fff;
  --portfolio-btn-txt: #4d5ae5;
  --portfolio-btn: #f4f4fd;
  --portfolio-btn-border: #e7e9fc;
  --portfolio-btn-hover-bgr: #404bbf;
  --portfolio-btn-hover-clr: #fff;
  --portfolio-btn-shadow-1: rgba(0, 0, 0, 0.1);
  --portfolio-btn-shadow-2: rgba(0, 0, 0, 0.08);
  --portfolio-btn-shadow-3: rgba(0, 0, 0, 0.12);
  --profect-cards-bgr: #fff;
  --portfolio-bgr: #fff;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--backgrnd-site);
  color: var(--second-color-site);
}
.container {
  width: 1158px;
}
/* RESET */
.logo {
  text-decoration: none;
}
.list {
  text-decoration: none;
  list-style: none;
}
.link {
  text-decoration: none;
  color: currentColor;
  
  
}
.adr-style {
  text-decoration: none;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img{
  display: block;
}
/* Header */
.logo {
  color: var(--logo-clr-blue);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-right: 40px;
  padding: 24px 0;
}
.logo-clr-dark {
  color: var(--main-color);
  letter-spacing: 0.03em;
}

.header {
  background-color: var(--bgrond-hdr);
  border-bottom: 1px solid var(--header-border);
}
.link-style:hover,
.link-style:focus {
  color: var(--nav-hover);
}

.header-item {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  
}

.link-style {
  color: var(--main-color);
  padding: 24px 0;
}


.adr-style {
  color: var(--second-color-site);
  font-weight: 400;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 0 40px;
}

.address{
  padding: 24px 0;
}
.adr-style:hover,
.adr-style:focus {
  color: var(--nav-hover);
}

.header-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:baseline
}
.header-nav-flex {
  display: flex;
  flex-direction: row;
  
}
.header-item {
  display: flex;
  flex-direction: row;
  gap: 0 40px;
}


/* Hero */
.section {
  padding: 0 156px;
}
.hero {
  background: var(--main-color);
  margin-bottom: 120px;
 
}
.first-hdr {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--first-hdr-crl);
  width: 496px;
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 188px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}
.btn-hero {
  background-color: var(--btn-hero);
  border-radius: 4px;
  cursor: pointer;
  color: var(--btn-hero-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  align-items: center;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  margin-right: auto;
  margin-left: auto;
}
.btn-hero:hover,
.btn-hero:focus {
  background-color: var(--btn-hero-hover);
  border-radius: 4px;
  cursor: pointer;
  color: var(--btn-hero-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  font-family: inherit;
  align-items: center;
  letter-spacing: 0.04em;
}
.hero-block{
 padding-bottom: 188px;
}
/* Dignity */

.dignity-hdr {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--main-color);
  letter-spacing: 0.02em;
  padding-bottom: 8px;
}
.dignity-txt {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.dignity-item{
  display: flex;
   flex-direction: row;
  margin-left: 157px;
  margin-right: 157px;
  padding-bottom: 120px;
   
}
.dignity-item-list{
  width: 264px;
  padding-left: 24px;
}
/* Our works */
.second-hdr {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--main-color);
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.bgr-clr-first {
  background-color: var(--first-hdr-crl);
}
/* Team */
.team-bgr {
  background-color: var(--logo-clr-light);
}
.team-item {
  background-color: var(--first-hdr-crl);
}
.team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.team-job {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
  letter-spacing: 0.02em;
}
/* Footer */
.footer-bgr {
  background-color: var(--main-color);
}

.logo-clr-light {
  color: var(--logo-clr-light);
  letter-spacing: 0.03em;
}
.ftr-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--logo-clr-light);
  letter-spacing: 0.03em;
}

/* Portfolio */
.portfolio {
  background-color: var(--portfolio-bgr);
}

.btn-item {
  font-family: 'Roboto', sans-serif;
  color: var(--portfolio-btn-txt);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  background-color: var(--portfolio-btn);
  border: 1px solid var(--portfolio-btn-border);
  border-radius: 4px;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.btn-item:hover,
.btn-item:focus {
  background: var(--portfolio-btn-hover-bgr);
  color: var(--portfolio-btn-hover-clr);
  box-shadow: 0px 3px 1px var(--portfolio-btn-shadow-1),
    0px 2px 1px var(--portfolio-btn-shadow-2),
    0px 2px 2px var(--portfolio-btn-shadow-3);
  border-radius: 4px;
}

/* Project cards */
.project-cards-style {
  background-color: var(--profect-cards-bgr);
}
.project-cards {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.project-cards-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
  letter-spacing: 0.02em;
}
